*{
padding:0;
margin:0;
box-sizing: border-box;
}
.clearfix::after{
content: '';
display: block;
clear: both;
}
html,body{
height: 100%;
font-size: 14px;

}
a{
text-decoration: none;
}
ul{
list-style: none;
}
header{
background: url(./banner.jpg) center center no-repeat;
height: 100%;
width: 100%;
background-size: cover;
}
nav{
position: relative;
}
nav .logo{
font-size: 50px;
font-family: fantasy;
color: #f7d158;
float: left;
padding:10px;
}

nav>ul>li{
float: right;
padding: 10px;
margin: 25px 10px 0 10px;
}
nav>ul>li:hover{
background-color: #f7d158;
border-radius: 3px;
}
nav>ul>li>a{
font-size: 17px;
font-weight: bolder;
color: #ffffff;
}
.intru{
position: absolute;
width: 100%;
top:64%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
}
header h2{
font-size:45px;
color: #ffffff;
}
header p{
font-size: 50px;
color: #ffffff;
margin-top: 25px;
margin-bottom: 10px;
}
.tell{
display: inline-block;
padding: 20px 50px;
margin-top:20px;
border-radius: 4px;
background-color: #f7d158;
text-align: center;
opacity: 0.8;
}
.tell:hover{
   opacity: 1;
}

/*第二部分*/
.service{
    margin-top: 100px;
    background-color: white;
}
.service > h1{
    font-size: 40px;
    text-align: center;
}
.service > p{
    font-size: 25px;
   margin-top: 20px;
    text-align: center;
}
.service > ul >li{
    text-align: center;
    float: left;
  width: 33.33%;
    margin-top: 150px;
 padding-left: 40px;
 padding-right: 40px;
 margin-bottom: 300px;
}
section > ul >li >span{
    display: inline-flex;
    padding: 30px;
    border-radius: 50%;
    background-color: #f7d158;
    margin-bottom: 20px;
}
.service > ul .icon{
    height: 40px;
    width: 40px;
    fill: white;

}
.service >ul  h2{
    font-size: 18px;
    margin-bottom: 10px;
}