*{
padding:0;
margin:0;
box-sizing: border-box;
}
.clearfix::after{
content: '';
display: block;
clear: both;
}
html,body{
height: 100%;
font-size: 14px;

}
a{
text-decoration: none;
}
ul{
list-style: none;
}
header{
background: url(./banner.jpg) center center no-repeat;
height: 100%;
width: 100%;
background-size: cover;
}
nav{
position: relative;
}
nav .logo{
font-size: 50px;
font-family: fantasy;
color: #f7d158;
float: left;
padding:10px;
}

nav>ul>li{
float: right;
padding: 10px;
margin: 25px 10px 0 10px;
}
nav>ul>li:hover{
background-color: #f7d158;
border-radius: 3px;
}
nav>ul>li>a{
font-size: 17px;
font-weight: bolder;
color: #ffffff;
}
.intru{
position: absolute;
width: 100%;
top:64%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
}
header h2{
font-size:45px;
color: #ffffff;
}
header p{
font-size: 50px;
color: #ffffff;
margin-top: 25px;
margin-bottom: 10px;
}
.tell{
display: inline-block;
padding: 20px 50px;
margin-top:20px;
border-radius: 4px;
background-color: #f7d158;
text-align: center;
opacity: 0.8;
}
.tell:hover{
   opacity: 1;
}

/*第二部分*/
.service{
    margin-top: 100px;
    background-color: white;
}
.service > h2{
    font-size: 40px;
    text-align: center;
}
.service > p{
    font-size: 25px;
   margin-top: 20px;
    text-align: center;
}
.service > ul >li{
    text-align: center;
    float: left;
  width: 33.33%;
    margin-top: 150px;
 padding-left: 40px;
 padding-right: 40px;
 margin-bottom: 300px;
}
.service > ul >li >span{
    display: inline-block;
    padding: 30px;
    border-radius: 50%;
    background-color: #f7d158;
    margin-bottom: 20px;
}
.service > ul .icon{
    height: 40px;
    width: 40px;
    fill: white;

}
.service >ul  h2{
    font-size: 18px;
    margin-bottom: 10px;
}
#section2{
    padding-bottom: 100px;
    background-color: #f7f7f7;
}
#section2 >ul li{
    float: left;
   width: 33.33%;
    text-align: center;
padding: 20px;
margin-top: 30px;
}
#section2 >ul img{
    width: 400px;
    height: 300px;
}
#section2 > h2{
    font-size: 40px;
    text-align: center;
}
#section2 >p{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;

}
/*第三部分*/
#section3{
    padding-top: 100px;
    padding-bottom: 200px;
}
#section3> h2{
    text-align: center;
    font-size: 40px;
    position: relative;
}
#section3> p{
    text-align: center;
    font-size: 18px;
    
}
#section3 li{
    margin-top: 80px;
}
#section3  li:nth-child(odd){
    padding-right: calc(50% - 75px);
    text-align: right;
  
  
    
}
#section3  li:nth-child(even){
   padding-left: calc(50% - 75px);
   text-align: left;
}

#section3 img{
    height: 150px;
    width: 150px;
    border: 6px solid lightblue;
    border-radius: 50%;
}
#section3 li:nth-child(odd)> img{
    float:right;
}
#section3 li:nth-child(even)> img{
    float: left;
}
#section3 li:nth-child(odd)> div{
    margin-right: 170px;
    margin-left: 50px;
}
#section3 li:nth-child(even)> div{
    margin-left: 170px;
    margin-right: 50px;
}
.layout{
width: 1200px;
    margin: 0 auto;
}
#section3 ul::before{
    content: '';
    display: inline-block;
    height: 700px;
    background-color: lightblue;
    width: 3px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}
/*第四部分*/
#section4{
    background-color: #f7f7f7;
}
#section4 h2{
    text-align: center;
    font-size: 40px;

}
#section4 p{
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    margin: 0px 150px;
}
#section4 >ul img{
    height: 260px;
    width: 260px;
    border: 6px solid white;
    border-radius: 50%;
}
#section4 >ul li{
    float: left;
    width: 33.33%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 40px;
}
#section4 .icon{
    width: 30px;
    height: 30px;
    margin: 20px 15px;
    fill: black;
}
#section5{
    margin-top: 30px;
    position: relative;
    background: url(https://chenleoxx.github.io/demos/companypage/images/%E5%BA%95%E9%83%A8.jpg);
    background-size:cover;
}
#section5 h2{
    text-align: center;
    font-size: 40px;
    color: white;
  padding-top: 130px;
}
#section5 p{
    text-align: center;
    font-size: 18px;
    color: white;
}
#section5> textarea{
    position: absolute;
    top: 250px;
   left: 50%;
   width: calc(50% - 200px);
}
#section5 ul{

    margin-right: calc(50% + 50px);
    margin-left: 150px;
}
#section5 li >input{
    width: 100%;

padding:20px 20px;
margin-top: 40px;
border-radius: 8px;
}
#section5 bottom{
    display: inline-flex;

    font-size: 30px;
    color:white;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: calc(50% - 117px);
  
    background-color: #f6c646;
    border-radius: 4px;
    padding:10px 5px;
}
#section5 bottom:hover{
    background-color: #f7d158;
}